/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap'); */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 16px; */
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px 105px;
    align-items: center;
    gap: 16px;
}

body{
    background-color: #E5E5E5;
}

header .buscar{
    background-color: #47474710;
    width: 560px;
    height: 60px;
    border-radius: 8px;
    position: relative;
}

header .buscar input{
    width: 100%;
    height: 60px;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 60px;
    transition: all 300ms ease;
    outline: none;
    border: 1px solid transparent;
    border-radius: 8px;
}

header .buscar input:focus{
    border-color: #C92071;
}

header .buscar btn{
    width: 22px;
    height: 22px;
    border: 2px solid #66666650;
    border-radius: 100%;
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
    transform: rotate(45deg);
    transition-duration: 300ms;
}

header .buscar .btn::after{
    content: "";
    width: 6px;
    height: 2px;
    background-color: #66666650;
    position: absolute;
    top: 50%;
    left: 100%;
    transition-duration: 300ms;
}

/* header .pesquisa .btn:active{
    background-color: red;
} */

header .buscar .btn:hover{
    border-color: #C92071;
}

header .buscar .btn:hover::after{
    background-color: #C92071;
}

.titulo {
    color: #C92071
}

header .logo{
    display: flex;
    gap: 8px;
}

header .signup{
    background-color: white;
    color: #474747;
    text-decoration: underline;

}

header .signin{
    background-color: #C92071;
    color: white;
    width: 114px;
    height: 40px;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
}

header nav ul{
    display: flex;
    padding-left: 105px;
    margin-top: 20px;
    gap: 32px; 
}

header nav ul li a{
    color: #474747;
    transition-duration: 300ms;
}

header nav ul li a:hover{
    color: #C92071;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: 700;
}

#campo{
    border: 0;
}

section{
    margin: 16px;
    display: flex;
}

.grade-de-produtos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    gap: 1px;
    padding: 1px;
}

.offers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    gap: 1px;
    padding: 1px;
    position: top;
}

.tenis img{
    background-size: cover;
    box-sizing: border-box;
    background: #FFFFFF60;
    box-shadow: 6px 16px 30px rgba(105, 98, 98, 0.12);
    border-radius: 4px;
}


footer {
    margin-top: 100px;
    background: #111;
    color: #d9d9d9;
    padding: 30px;
    
 }

 footer .main-content {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    align-items: center;
    width: 1440px;
    height: 454px;
    margin-left: 30px;
    border-bottom: 0.4px solid gray;
    
 
    /* gap: 50px; */
          
 }

 .main-content .center-box {
    flex-basis: 50%;
    width: 135px;
    height: 228px;
    left: 612px;
    line-height: 38px;
    margin-right: 22px;
    
    
  }

.main-content .categorias {
    line-height: 38px;
    padding-right: 50px;

   
}

.right-box {
    flex-basis: 50%;
    width: 135px;
    height: 228px;
    left: 612px;
    line-height: 38px;
    padding-left: 100px;
}
  
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.box h1 {
    font-weight: 600;
    font-size: 36.3951px;
    line-height: 44px;
    
}

.content {
    margin-top: 30px;
    
}
.box .content .social {
    background-color: aqua;
 

}

h6 {
    

    padding-top: 48px; 
         text-align: center; 
    
}

ul li a {
    color: #d9d9d9;
}

footer div a {
    color: white;
}

.main-content .logo {
    display: flex;
    gap: 8px;
    align-items: center;

}

.main-content .content p {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    
    
}

.main-content .social a{
    /* padding: 30px; */
   /* padding-left: 15px; */
   padding-right: 15px;
}
.container-4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
hr{
    color: #d9d9d9;
    
}

