@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}


header .buscar{
    border: 1px solid gray;
    width: 559px;
    height: 60px;
}

#campo{
    border: 0;
}

header .acoes{
    display: flex;
    gap: 26px;
}

header .carrinho{
    position: relative;
    cursor: pointer;
}

header .carrinho span{
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 10px;
    background-color: #C92071;
    color: #FFFFFF;
    position: absolute;
    top: -10px;
    right: -10px;
}